langchain
langgraph
langchain_community
langchain_core
langchain_groq
langchain_openai
langchain_chroma
faiss-cpu
streamlit
tavily-python
langchain_openai
jq>=1.7
FastMCP
langchain-mcp-adapters
langmem
googlemaps
requests
protobuf==3.20.3